@font-face {
  font-family: Arcade;
  src: url('./fonts/ARCADE.TTF') format('truetype');
}

:root {
  --main-font: Arcade;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}