@font-face {
  font-family: Arcade;
  src: url('./fonts/ARCADE.TTF') format('truetype');
}

:root {
  --main-font: Arcade;
  --background: #141204;
  --sketchpad-color: #F9EBE0;
  --font-glow-color: #AE8E1C;
  --font-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  color: var(--font-color);
  background-color: var(--background);
  height: 100vh;
}

#title {
  text-align: center;
  margin: 12px auto;
  font-size: 48px;
}